.main {
	flex: 1;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.main .banner {
	width: 1920px;
    height: auto;
}
.main .blog-nav {
	width: 1200px;
	height: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.main .blog-nav li {
	width: 100px;
	text-align: center;
	margin-right: 40px;
	padding-bottom: 15px;
	font-size:14px;
	font-family: MicrosoftYaHei;
	font-weight:400;
	color:rgba(136,146,165,1);
	cursor: pointer;
}
.main .blog-nav li:hover {
	color: #4D7FD1 !important;
	box-shadow: 0 2px 0 0 #588DE4;
}
.thisli {
	color: #4D7FD1 !important;
	box-shadow: 0 2px 0 0 #588DE4;
}
.main .blog-wrap {
	width: 1200px;
	height: auto;
	margin-top: 30px;
}
.blog-wrap .blog-content {
	float: left;
	width: 860px;
	height: auto;
	margin-right: 20px;
	background: #fff;
	box-shadow:0px 0px 4px 0px rgba(66,72,85,0.2);
	padding: 25px 30px;
	box-sizing: border-box;
}
.blog-wrap .blog-content section {
	padding-bottom: 28px;
	border-bottom: 1px solid #E8EDF4;
	margin-bottom: 28px;
}
.blog-wrap .blog-content .content-module section:last-child {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.content-module section {
	cursor: pointer;
}
.blog-wrap .blog-content section .type {
	width: 100%;
	height:36px;
	background:rgba(246,248,252,1);
	display: flex;
	align-items: center;
	padding-left: 18px;
	margin-top: 15px;
	margin-bottom: 15px;
}
section .type p {
	display: flex;
	align-items: center;
	margin-right: 36px;
	font-size:12px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(101,140,198,1);
}
section .type p img {
	margin-right: 8px;
}
section .graphic {
	display: flex;
}
section .graphic img {
	width: 220px;
	height: 130px;
	margin-right: 20px;
}
section .graphic .copy {
	flex: 1;
	width: 560px;
	height: auto;
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(136,136,136,1);
	position: relative;
}
section h3 {
	font-size:16px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:24px;
}
section h3:hover {
	color: #4585cd;
}
section .part:hover {
	color: #5c94e0;
}
section .look:hover {
	color: #43679b;
}
.copy .part {
	line-height: 36px;
	width: 100%;
	height: 100px;
	overflow: hidden;  /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis; /** 多行 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 3; /** 显示的行数 **/
	font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(136,136,136,1);
}
.copy .look {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(101,140,198,1);
	cursor: pointer;
}
.blog-wrap .blog-side {
	float: right;
	width: 320px;
	height: auto;
}
.loading section {
	padding-top: 28px;
	border-top: 1px solid #E8EDF4;
	margin-top: 28px;
}
.loading section h4 {
	width:412px;
	height:24px;
	background:rgba(238,240,244,1);
}
.loading section p {
	width:799px;
	height:36px;
	margin-top: 16px;
	margin-bottom: 16px;
	background:rgba(238,240,244,1);
}
.loading section div {
	display: flex;
}
.loading section div img {
	width:220px;
	height:130px;
	background:rgba(238,240,244,1);
	margin-right: 20px;
}
.loading section div ul li{
	width:560px;
	height:14px;
	background:rgba(238,240,244,1);
	margin-bottom: 22px;
}
.loading section div ul li:last-child {
	margin-bottom: 0;
}
.loading p {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(177,191,211,1);
}
.loading p img {
	width: 19px;
	height: 19px;
	margin-right: 12px;
}
#courseLoading {
	opacity: 0;
	display: none;
}

.blog-side a{
	margin-bottom: 20px;
}
.blog-side .news {
	width: 100%;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 10px 0px rgba(93,116,157,0.14);
}
.blog-side .news .title {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	box-sizing: border-box;
	justify-content: space-between;
	background:linear-gradient(90deg,rgba(101,149,213,1) 0%,rgba(131,171,238,1) 100%);
}
.blog-side .news .title p {
	display: flex;
	align-items: center;
	font-size:16px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
}
.blog-side .news .title p img {
	margin-right: 8px;
}
.blog-side .news .title span {
	font-size:12px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	font-style:italic;
	color:rgba(255,255,255,.8);
}
.news-cont {
	padding: 16px 14px;
	box-sizing: border-box;
}
.news-cont section {
	display: flex;
}
.news-cont a {
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid rgba(221,226,237,1);
}
.news-cont a:last-child {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.news-cont section img {
	width: 100px;
	height: 64px;
	margin-right: 10px;
}
.news-cont section div article {
	width:180px;
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(136,136,136,1);
	overflow: hidden;  /** 隐藏超出的内容 **/
    word-break: break-all;
    text-overflow: ellipsis; /** 多行 **/
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 2; /** 显示的行数 **/
	margin-bottom: 10px;
}
.news-cont section div p {
	font-size:12px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(170,170,170,1);
}