* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "MicrosoftYaHei,Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: #F5F7FA;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: flex; 
  flex-direction: column; 
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0 !important
}

body {
  -ms-overflow-style: none;
}

body {
  overflow: -moz-scrollbars-none;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  border-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
img {
  -webkit-touch-callout: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;
}

/*为img标签设置0像素的边框（img标签在a标签当中时，默认会有蓝色边框）*/

img {
  border: 0;
}

/*为a标签设置初始样式，没有下划线，字体颜色为#000（黑色），在点击a标签时没有外侧的高亮线（outline）*/

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

/*为li去除列表项的小标志*/

li {
  list-style: none;
}

span, a{
  display: inline-block;  
}
i {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, div, section, span {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/*after伪元素清浮动的语句*/

.clearfix:after {
  content: '\200B';
  clear: both;
  display: block;
  height: 0px
}

button {
  cursor: pointer;
  border: none;
	background: transparent;
	outline: none;
}

i {
  font-style: normal;
}

a {
  display: inline-block;
}

input,textarea {
  border: none;
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

select::-ms-expand { display: none; }

img {
  vertical-align: top;
}

.main {
	flex: 1;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
