{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'classmate-say/learning-notes.css' %}">
    <!-- 点击图片放大-->
    <link rel="stylesheet" href="{% static 'styles/magnific-popup.css' %}">
    <!-- 瀑布流css -->
    <link rel="stylesheet" href="{% static 'styles/salvattore.css' %}">
{% endblock %}
{% block main %}

    <div class="main">
        <div class="banner">
            <img src="{% static banner %}" alt="">
        </div>
        <ul class="classmate-nav">
            <a href="{% url  'feedback' 'learning-notes' %}">
                <li class=" {% if table == 'learning-notes' %}thisli{% endif %}" back_type="1">
                    <img src="{% static 'images/classmate-say/classmate-say-icon1.jpg' %}" alt="">
                    <img src="{% static 'images/classmate-say/classmate-say-icon1-1.jpg' %}" alt="">
                    <span>学习笔记</span>
                </li>
            </a>
            <a href="{% url  'feedback' 'student-evaluation' %} ">
                <li class=" {% if table == 'student-evaluation' %}thisli{% endif %}" back_type="2">
                    <img src="{% static 'images/classmate-say/classmate-say-icon2.jpg' %}" alt="">
                    <img src="{% static 'images/classmate-say/classmate-say-icon2-1.jpg' %}" alt="">
                    <span>学员评价</span>
                </li>
            </a>
            <a href="{% url  'feedback' 'work-invitation' %}">
                <li class=" {% if table == 'work-invitation' %}thisli{% endif %}" back_type="3">
                    <img src="{% static 'images/classmate-say/classmate-say-icon3.jpg' %}" alt="">
                    <img src="{% static 'images/classmate-say/classmate-say-icon3-1.jpg' %}" alt="">
                    <span>入职邀约</span>
                </li>
            </a>
            <a href="{% static 'pages/classmate-say/classmate-say.html' %}">
                <li>
                    <img src="{% static 'images/classmate-say/classmate-say-icon4.jpg' %}" alt="">
                    <img src="{% static 'images/classmate-say/classmate-say-icon4-1.jpg' %}" alt="">
                    <span>同学说 <i>(99+)</i></span>
                </li>
            </a>
            <a href="{% static 'pages/classmate-say/student-interview.html' %}">
                <li>
                    <img src="{% static 'images/classmate-say/classmate-say-icon5.jpg' %}" alt="">
                    <img src="{% static 'images/classmate-say/classmate-say-icon5-1.jpg' %}" alt="">
                    <span>学员专访</span>
                </li>
            </a>
        </ul>
        <div id="fh5co-main">
            <div class="container">
                <div class="row">
                    <div id="fh5co-board" data-columns>



                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

    <!-- 首页动效 -->
    <script src=" {% static 'classmate-say/learning-notes.js' %}"></script>
    <!-- 滚动监听插件 -->
    <script src="{% static 'plugins/jquery.waypoints.min.js' %}"></script>
    <!-- 点击图片放大js -->
    <script src="{% static 'plugins/jquery.magnific-popup.min.js' %}"></script>
    <!-- 瀑布流自适应 -->
    <script src="{% static 'plugins/salvattore.min.js' %}"></script>
    <!-- 瀑布流js -->
    <script src="{% static 'plugins/main.js' %}"></script>
{% endblock %}